<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljp.xjt.mapper.TeacherCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljp.xjt.entity.TeacherCourse">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="course_id" property="courseId" />
        <result column="class_id" property="classId" />
        <result column="semester" property="semester" />
        <result column="year" property="year" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 根据教师ID查询其教授的课程 -->
    <select id="selectCourseIdsByTeacherId" resultType="java.lang.Long">
        SELECT DISTINCT course_id
        FROM teacher_course
        WHERE teacher_id = #{teacherId}
    </select>

    <!-- 根据教师ID和课程ID查询其教授的班级 -->
    <select id="selectClassIdsByTeacherAndCourse" resultType="java.lang.Long">
        SELECT DISTINCT class_id
        FROM teacher_course
        WHERE teacher_id = #{teacherId}
        AND course_id = #{courseId}
    </select>

</mapper> 